@charset "UTF-8";

@font-face {
  font-family: "LEDLIGHT";
  src: url("../fonts/ledlight/LEDLIGHT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSerif";
  src: url("../fonts/ptserif/PTSerif-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSerif";
  src: url("../fonts/ptserif/PTSerif-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* VARIABLES */

:root {
  /* Color values */
  --color-background: rgba(255, 255, 255, 1);
  --color-text: rgba(0, 0, 0, 1);
  --color-text-link: rgba(0, 0, 255, 0.8);
  --color-text-link-hover: white;
  /* Font values */
  --font-text: "PTSerif-Italic", "Helvetica", "Arial", sans-serif;
  --font-size: 1.5em;
  line-height: 1.5;
  scroll-behavior: smooth;
  --margin: 1rem;
}

/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-image: url("../../content/background.jpg");
}

body {
  position: relative;
  background-color: #634e42;
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width: 100%;
  height: auto;
  overflow-y: auto;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  padding-left: 12.5%;
  max-width: 1400px;
  counter-reset: sidenote-counter;
  cursor: crosshair;
  border: 2px dashed #634e42;
  overflow-x: hidden;
}

a {
  color: #634e42;
  text-decoration: none;
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: none;
}

h1 {
  /* h1 style */
}

h2 {
  margin-left: 20px;
  font-family: "LEDLIGHT";
  /* font-weight: 800; */
  color: white;
}

h3 {
  margin-left: 20px;
  /* background-color: #634e42; */
  border: white 1px dashed;
  color: rgb(246, 103, 0);
  transition: transform 0.3s ease;
  display: inline-block; /* Ensure the rotation does not affect other elements */
  margin-top: 20px; /* Add some margin to avoid overlapping */
  margin-bottom: 10px; /* Add some margin to avoid overlapping */
  font-family: "LEDLIGHT";
  font-size: 30pt;
  padding: 5px;
}

h4 {
  font-family: "pt serif";
  font-weight: 0;
  color: #634e42;
  background-color: white;
  width: 652px;
  border: dashed 1px white;
}

h5 {
  /* h4-h5-h6 style */
}
h6 {
  /* h4-h5-h6 style */
}

p {
  font-family: "pt serif";
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16pt;
  /* border: 1px dashed #634e42; */
  padding: 3px;
  text-decoration: underline 1px dashed white;
  color: white;
  border-right: dashed 1px white;
  /* border-left: white dashed 1px; */
}
.chapter-title {
  margin-bottom: 10px;
  margin-top: 10px;
  color: #634e42;
}
.sub-heading {
  margin-left: 20px;
  text-decoration: underline 1px dashed #634e42;
}
nav ul li a {
  color: white !important;
  /* font-family: "pt serif"; */
}

ol,
ul {
  list-style: none;
}
.nav ol:hover {
  color: white;
}
.nav ol a {
  color: inherit;
  text-decoration: none;
}
/* ordered list and unordered list styles */

hr {
  border: dashed 1px white;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  /* horizontal rule style */
}

.vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: 0px;
  border: white dashed 1px;
  z-index: 1;
}

/* PAGE STYLES */

/* page structure */

.title1 {
  font-size: 36pt;
  font-weight: 800;
  /* margin-left: 20px; */
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  margin: 0 auto;
  display: block;

  /* width: fit-content; */
}

/* navigation */

nav {
  font-weight: 400;
  line-height: 1rem;
  padding-bottom: 10px;
  width: 200px;
  font-size: 15pt;
  margin-top: 5px;
  list-style: none;
  cursor: crosshair;
  margin: 0;
  text-decoration: underline dashed 2px white;
}
.nav-item {
  font-family: "LEDLIGHT";
  color: white;
}
.nav-item a {
  display: inline-block;
  transition: transform 0.3s ease;
  color: #634e42;
}

.nav-item a:hover {
  text-decoration: underline dashed 2px #ffffff;
  /* This will be overridden by JavaScript */
}

nav ul,
nav li {
  margin-left: 20px !important;
  padding: 0 !important;
}
.header {
  max-width: fit-content;
}

/* content */

main {
}

summary {
}

/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

/* WEBSITE MEDIA QUERIES */

/* responsive typeface for various breaking points, sets the default 'rem' value */
@media (max-width: 299px) {
  :root {
    --font-size: 1em;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
  }
}

@media (min-width: 299px) and (max-width: 340px) {
  :root {
    --font-size: 19px;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
  }
}

@media (min-width: 340px) and (max-width: 440px) {
  :root {
    --font-size: 20px;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
  }
}

@media (max-width: 768px) {
  :root {
    --font-size: 1.2em;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
    max-width: 100%;
    line-height: 1.4;
  }
  #progress-bar {
    left: 10px;
  }
}

@media (min-width: 780px) and (max-width: 992px) {
  :root {
    --font-size: 20px;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  :root {
    --font-size: 21px;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
  }
}

@media (min-width: 1201px) and (max-width: 1320px) {
  :root {
    --font-size: 22px;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
  }
}

@media (min-width: 1321px) {
  :root {
    --font-size: 24px;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
  }
}

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (max-width: 779px) {
  /* your 'mobile' overriding css properties here */

  /* utility classes, mobile */

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}

/* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

@media (max-width: 339px) {
  /* your overriding css properties here */
}

/* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

@media (max-width: 779px) and (orientation: landscape) {
  /* your overriding css properties here */
}

/* use this query to apply style for 'small' desktop screens */

@media (min-width: 780px) and (max-width: 992px) {
  /* your overriding css properties here */
}

/**************************
 * BASIC CHECKBOX EXAMPLE *
 **************************/

fieldset {
  padding: 1rem;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  line-height: 1;
}

fieldset > input.submit-button {
  justify-self: end;
}

#yes:checked + span {
  background-color: palegreen;
}

/******************
 * FROM TUFTE.CSS *
 ******************/

body {
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  max-width: 1400px;
  counter-reset: sidenote-counter;
}

blockquote p {
  width: 55%;
  margin-right: 40px;
}

blockquote footer {
  width: 55%;
  text-align: right;
}

section > p,
section > footer,
section > table {
  width: 55%;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  float: left;
  clear: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

/* Sidenotes, margin notes, figures, captions */
img {
  max-width: 100%;
  /* filter: brightness(100%); */
  /* color: white; */
  /* transition: transform 0.3s ease; */
  /* border: 2px solid transparent;  */
  padding: 15px;
  /* outline: 1px dashed #634e42;  */
  /* outline-offset: -6px; */
}
/* img:hover {
  outline: 1px dashed white; 
} */

.sidenote,
.marginnote {
  background-color: white;
  color: #634e42;
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0.3rem;
  margin-bottom: 0;
  /* font-size: 1.1rem; */
  font-size: 1rem;
  /* line-height: 1.3; */
  vertical-align: baseline;
  position: relative;
  font-size: 16pt;
}
.sidenote-wrapper {
  /* background-color: #634e42; */
  border: 1px dashed white;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote-number:after {
  font-size: 0.8rem;
  top: -0.2rem;
  left: -0.05rem !important;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  font-size: 0.8rem;
  top: -0.2rem;
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline-block;
  max-height: 2rem;
  /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 779px) {
  body {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }

  hr,
  section > p,
  section > footer,
  section > table {
    width: 100%;
  }

  pre > code {
    width: 97%;
  }

  section > dl,
  section > ol,
  section > ul {
    width: 90%;
  }

  figure {
    max-width: 90%;
  }

  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }

  blockquote p,
  blockquote footer {
    width: 100%;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .marginnote {
    display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }

  .sidenote-number:after {
    text-decoration: underline;
    text-underline-offset: 0.1rem;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }

  img {
    width: 100%;
  }
}

/* image overlay for the first load */
#overlay {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#overlay img {
  max-width: 100%;
  max-height: 100%;
}

/* this is highlight element color switch */
::selection {
  background-color: white;
  color: #634e42;
}

::-moz-selection {
  background-color: #634e42;
  color: white;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .vertical-line {
    left: 200px;
  }
}

@media (max-width: 992px) {
  .vertical-line {
    left: 150px;
  }
}

@media (max-width: 768px) {
  .vertical-line {
    left: 100px;
  }
}

@media (max-width: 576px) {
  .vertical-line {
    left: 40px;
  }
}

@media (max-width: 480px) {
  .vertical-line {
    left: 20px;
  }
}

.fixed-size {
  width: 400px; /* Set your desired width */
  height: auto; /* Maintain aspect ratio */
}

.no-style {
  filter: none;
  color: inherit;
  transition: none;
  border: none;
  padding: 0;
  outline: none;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 40px;
  width: 10px;
  height: 100%;
  background-color: #45362d; /* Default color */
  transition: background-color 0.1s;
}

#progress-bar[data-section="abstract"] {
  background-color: #634e42; /* SaddleBrown */
}

#progress-bar[data-section="introduction"] {
  background-color: #45362d; /* Sienna */
}

#progress-bar[data-section="chapter-2"] {
  background-color: #2d1301; /* Chocolate */
}

#progress-bar[data-section="chapter-3"] {
  background-color: #f1d6bb; /* Peru */
}

#progress-bar[data-section="chapter-4"] {
  background-color: white;
}

#progress-bar[data-section="conclusion"] {
  background-color: black;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  #progress-bar {
    left: 30px;
  }
}

@media (max-width: 992px) {
  #progress-bar {
    left: 20px;
  }
}

@media (max-width: 768px) {
  #progress-bar {
    left: 10px;
  }
}

@media (max-width: 576px) {
  #progress-bar {
    left: 5px;
  }
}

@media (max-width: 480px) {
  #progress-bar {
    left: 2px;
  }
}

/* Fullscreen slideshow container */
.image-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #634e42;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.animation-image.active {
  opacity: 1;
}
@media (max-width: 992px) {
  body {
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  body {
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  body {
    width: 100% !important;
    padding: 0;
    margin: 0;
  }
}
