body {
  font-family: "helvetica";
  background-color: #634e42;
  cursor: crosshair;
}

h1 {
  font-size: 20pt;
  font-weight: 600;
  font-size: 15pt;
}
p {
  margin-top: 10px;
  line-height: 1.2;
  font-family: "marta";
  text-indent: 25px;
}

img {
  width: 100%;
  height: auto;
}

.headline {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px 0;
  z-index: -1000;
}

.contents ol {
  font-weight: 600;
  width: 200px;
  margin-left: 20px;
  font-size: 15pt;
  margin-top: 5px;
  list-style: none;
  cursor: crosshair;
}
.contents ol:hover {
  color: white;
}

.line {
  border-left: 2px dashed black;
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
}

.column {
  font-size: 15pt;
  flex: 1;
  /* margin: 20px; */
  margin-left: 20px;
  margin-right: 20px;
  height: 1000px;
}
.column:first-child {
  flex: 2;
}

.column:nth-child(2),
.column:nth-child(3) {
  flex: 1;
}
